@charset "UTF-8";

section {
  border: solid 1px #ecac00;
  padding: 10px;
  margin: 10px;
}

div.bar{
  display: inline-block;
  width: 20px;
  height: 300px;
  background-color: teal;
  margin-right: 5px;
}
